/* Base Styles */
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

/* Sections */

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    width: 50%;
}

/* Header/Hero Top */

#header {
    margin: 0 auto;
    background: url(../img/blonde-invisalign.jpeg);
    height: 767px;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(255, 254, 253, 0.7);
}